/*Estilos generales*/
*{
    box-sizing:border-box;/*Ayuda a controlar el tamaÃ±o de los elemntos*/
  }
/*Genera un efecto sueve para navegar por el sitio web utilizando los enlaces*/
html{
    scroll-behavior: smooth;
}
body{
    margin: 0;
    font-family: 'Courier New', Courier, monospace;
}

h1{font-size: 3.0em;}
h2{font-size: 2.5em;}
h3{font-size: 2.0em;}
p{font-size: 1.2em;}

/*****Maquetación y estilos del header*****/
/*Estilos del header*/
.header{
    background-color: aliceblue;
}
/*Maquetación de header*/
.header .contenedor{
    display: flex;
    flex-direction: row; /*Desplegar logo y navegador en fila*/
    align-items: center;
    justify-content: space-between;/*Espacio entre componenetes*/
    max-width: 85%;/*Ancho que ocupa el contenedor del header del total de la página*/
    margin: auto;/*Centrar automaticamente*/
}

/*Estilos del logotipo*/
.header .logo{
    margin: 0;
    padding: 25px 30px; /*Espaciado vertical (25) y horizontal (30)*/
    font-weight: bold;/*Negrita*/
    color: blueviolet;/*Color*/
    font-size: 1.35em;/*Tamaño de fuente*/
}
/*Estilos de la barra de navegación*/
/*Despliegue (maquetación) de la barra de navegación*/
.header .nav{
    display: flex;
    flex-direction: row;
}
.header a{
    padding: 5px 10px;
    text-decoration: none;
    font-weight: bold;
    color: black;
}
.header a:hover{
    color: blueviolet;
}
/*Hace que el header se quede fijo y nos siga en todo momento*/
.header{
    position: fixed;
    width: 100%;
}
/*****Termina la maquetación y estilo del haeder*****/

/*****Sección del banner************/
.banner{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 80vh;/*Altura del banner*/
    color: aliceblue;/*Color de fondo*/
    background-image: linear-gradient(0deg,rgba(0,0,0,0.5),rgba(0,0,0,0.5)),
    url(img/escuelas-de-musica.jpg);/*Cargando una imagen de fondo y aplicando un degradado*/
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
/*Estilos del titulo en el banner*/
.bienvenida{
    font-size: 3em;/*Tamaño*/
    color: azure;/*Color*/
}
/****Termina sección del banner******/

/****Maquetación y estilos de la sección de presentación****/
.presentacion {
    display: flex;
    flex-direction: column;
    height: 60vh;
    text-align: center;
    padding: 60px 10px;
    max-width: 90%;
    margin: auto;
}
/*******Termina sección "nosotros"**********/

/*******Maquetación y estilo de la sección "Cursos"*********/
#cursos{
    display: flex;
    flex-direction: column;
    padding: 10px;
    align-items: center;
    background-color: black;/*Color de fondo del contenedor*/
    color: aliceblue;/*Color de fuente*/
}
/*Estilo y despliegue de los elementos de cada curso*/
.tarjeta{
    display: flex;
    flex-direction: row;
    padding: 15px 15px;
    max-width: 85%;
    margin: auto;
}
/*Tamaño de imagenes de los cursos*/
.tarjeta img{
    width: 35%;
    height: 22%;
}
/*Despliegue del texto del curso*/
.contenido_curso{
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-right: 30px;/*Para separar el texto de la imagen*/
}
/*******Termina sección "cursos"**********/

/*******Maquetación y estilos de la sección caracteristicas*****/
#caracteristicas{
    display: flex;
    flex-direction: column;
    height: 60vh;
    padding: 60px 10px;
    max-width: 85%;
    margin: auto;
    text-align: center;
}
#caracteristicas li{
    margin: 12px 10px;
    font-weight: bold;
    font-size: 1.15em;
}
/*******Termina sección "caracteristicas"**********/

/*******Maquetación y estilos de la sección de contacto*****/
#contacto{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: black;
    color: aliceblue;
    height: 50vh;
  }
  #contacto p{
    font-size: 2em;
  }

  /*Estilos del botón que podria abrir un formulario y una tarjeta con datos de contacto*/
  button{
    font-size: 1.2em;
    font-weight: bold;
    padding: 10px 15px;
    border-radius: 15px;
    border: 2px solid black;
    box-shadow: 2px 2px 10px black;
    color: aliceblue;
    background-color: blueviolet;
  }
  
  button:hover{
    background-color: rgb(67, 9, 122);
  }
  /*******Termina sección "contacto"**********/

  /*******Maquetación y estilos de la sección de footer*****/
  #footer{
    background-color: aliceblue;
  }

  #footer .contenedor{
    height: 90px;
    display: flex;
    flex-direction: row;
    max-width: 85%;
    margin: auto;
  }
  #footer p{
    padding: 15px 12px;
  }
/*******Termina sección footer**********/

/****Versión para mobíl (responsivo)****/
@media(max-width: 600px){
    /*Cambiando manera de desplegar el header*/
    .header .contenedor{
      flex-direction: column;
    }
    .header .nav{
        flex-direction: column;
    }
    /*La barra de navegación ya no nos sigue*/
    .header{
        position:relative;
        width: 100%;
    }
    /***Fin header****/

    /***Manera de desplegar los cursos****/
   /*Hay que desplegar las tarjetas de cursos como columnas
   y adaptar el tamaño de las imagenes*/

    /***Cursos****/

    /**Hay que cambiar el tamaño de la sección de presentación y caracteristicas
    para que se vea mejor**/
}